.new{
    background-color: khaki;
}
#output, #output2, #output3, #output4{
    font-style: normal;
    font-family: arial;
    font-size: large;
    color: red;
}
.container{
    background-color: paleturquoise;
}
h1{
    text-align: center;
}